.file-popup-block {
    position: absolute;
    right: 0px;
    width: 124px;
    height: 44px;
    background-color: #008000;
    border-radius: 44px;

    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.file-popup-block > img {
    width: 20px;
    height: 20px;
}

.triangle {
    position: absolute;
    bottom: -4px;
    rotate: 45deg;
    background-color: #008000;
    width: 8px;
    height: 8px;
}