.avatar {
    width: 28px;
    height:28px;
    border-radius: 50%;
}

.mseg-content {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}

.mseg-content > p {
    margin: 0 16px;
    padding: 8px 16px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.12));
}

.avatar-kyc {
    display: flex;
    position: relative;
}

.kyc {
    width: 10px;
    height: 10px;
    position:absolute;
    right: 0;
    bottom: 0;
}