.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header-block-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

img {
  width: 24px;
  height: 24px;
}

.header-block-left > img {
  margin-right: 16px;
}

.header-block-left > p {
  font-size: 24px;
}
