:root {
  --text-col: #141E0D;
  --bg-col: #FAF9F4;
}

body {
  background-color: var(--bg-col);
  color: var(--text-col);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #141E0D #FAF9F4;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #FAF9F4;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FAF9F4;
}

*::-webkit-scrollbar-track:active {
  background-color: #FAF9F4;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #141E0D;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #141E0D;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #141E0D;
}

